.aside {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
    background-color: black;
    width: 1000px;
    padding: 10px;
}

.file-display {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    background-color: #282c34;
    color: hotpink;
    height: 40px;
    line-height: 2.5;
    width: 200px;
    font-size: 16pt;
    text-align: center;
}