.aside {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 14px;
}

button {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    width: 40%;
    padding-left: 0;
    padding-right: 0;
}

.file-display {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    height: 45px;
    line-height: 2.5;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 13px;
    padding-top: 3px;
    width: 60%;
}